In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('BusStops.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1105 entries, 0 to 1104
Data columns (total 9 columns):
list                  1105 non-null object
Direction             1105 non-null object
Stop Name             1105 non-null object
Latitude              1099 non-null float64
Longitude             1099 non-null float64
Name-en-normalized    1105 non-null object
UID                   34 non-null object
map link              1105 non-null object
Unnamed: 8            1099 non-null float64
dtypes: float64(3), object(6)
memory usage: 77.8+ KB

In [3]:
data.head()

,list,Direction,Stop Name,Latitude,Longitude,Name-en-normalized,UID,map link,Unnamed: 8
0,brts stops,UP,509,18.574521,73.899507,509,A509Y1,http://maps.google.com/?q=loc:18.5745209999995,73.899507
1,brts stops,Down,509,18.574580,73.899595,509,A509Y2,http://maps.google.com/?q=loc:18.5745800000002,73.899595
2,brts stops,UP,12 Wa Mile,18.608913,74.015420,12 Wa Mile,12WML1,http://maps.google.com/?q=loc:18.608913,74.015420
3,brts stops,Down,12 Wa Mile,18.608913,74.015420,12 Wa Mile,12WML2,http://maps.google.com/?q=loc:18.608913,74.015420
4,brts stops,UP,15 August Chowk,18.522448,73.866454,15 August Chowk,15AUG1,http://maps.google.com/?q=loc:18.5224480000003,73.866454

In [4]:
data.columns

Index(['list', 'Direction', 'Stop Name', 'Latitude', 'Longitude',
       'Name-en-normalized', 'UID', 'map link', 'Unnamed: 8'],
      dtype='object')

In [5]:
def return_UID(tokens, to_len, direction):
    UID = []
    if len(tokens) >1:
        for token in tokens:
            if len(token) > 1:
                strin = token[0:to_len].upper()
                UID.append(strin)
            else:
                UID.append(token.upper())
    else:
        UID.append(tokens[0][0:to_len +1].upper())

    UID.append(str(direction))
    return ''.join(UID)

In [6]:
UIDS = {}
def generate_UID(row):
    UID = ''
    if type(row['UID']) is not str :
        tokens = row['Name-en-normalized'].strip().split()
        if row['Direction'].strip() == 'UP':
            UID = return_UID(tokens, 2, 1)
            if UID in UIDS:
                UID = return_UID(tokens, 3, 1)
        elif row['Direction'].strip() == 'Down':
            UID = return_UID(tokens, 2, 1)
            if UID in UIDS:
                UID = return_UID(tokens, 3, 1)
        if UID in UIDS:
            return ''
        UIDS[UID] = 1
        return UID
    else :
        return row['UID']

In [7]:
data['UID_new'] = data.apply(generate_UID, axis=1)

In [8]:
data['UID_new']

0           A509Y1
1           A509Y2
2           12WML1
3           12WML2
4           15AUG1
5           15AUG2
6           15NUM1
7           15NUM2
8           16NUM1
9           16NUM2
10          5WMIL1
11          5WMIL2
12          APLGH1
13          APLGH2
14          ADCMP1
15          ADCMP2
16          AKLND1
17          AGRCL1
18          AGRCL2
19          AHLSC1
20          AHLSC2
21          AHRWD1
22          AHRWD2
23          AITCL1
24          AITCL2
25          AJTNG1
26          AJTNG2
27          AKSHW1
28          AKSHW2
29          AKRDC1
           ...
1075       WAKPHA1
1076
1077       WALCOR1
1078
1079          WAL1
1080         WALK1
1081         WAMA1
1082       WARMAL1
1083          WAR1
1084         WARJ1
1085          WES1
1086         WEST1
1087       WICOCI1
1088    WIPCOMCIR1
1089         WICO1
1090       WIRCOL1
1091          YAM1
1092         YAMU1
1093         YAKH1
1094       YASKHA1
1095       YATERO1
1096    YASTELROA1
1097       YACHNA1
1098    YASCHANAT1
1099          YER1
1100         YERA1
1101
1102
1103       YEPOOF1
1104    YERPOSOFF1
Name: UID_new, dtype: object

In [9]:
data.to_csv('ans.csv')